---
import Layout from "../layouts/layout.astro";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
<title>Rosmelle Cuevas</title>
</head>
<body class="bg-primary">
    <Layout>
    <!-- Title and floating nav -->
    <div class="p-2 md:p-4 lg:p-10 bg-no-repeat bg-center bg-cover container mx-auto relative"> <!-- Adding relative positioning -->
    
    
        <!-- hero -->
        <div class="flex flex-col max-w-7xl text-white relative z-10"> <!-- Adding z-index to ensure hero content is above the overlay -->
            <div class="flex flex-col text-white mt-1">
                <h1 class="text-4xl md:text-[50px] leading-tight font-semibold font-typography">Profile</h1>
            </div>
            <div class="absolute top-40 left-full transform -translate-y-1/2 mr-auto"> <!-- Adjusted margin-right (mr-auto) -->
                <div class="flex flex-col items-end "> <!-- Updated to flex-col and items-end -->
                    <a href="/portfolioV2/profile" class="hover:underline text-2xl text-white font-secondary py-2 px-4">
                        Profile
                    </a>
                    <a href="/portfolioV2/design" class="hover:underline underline-offset-4 text-white font-secondary py-2 px-4">
                        Designs
                    </a>
                    <a href="/portfolioV2/resume" class="hover:underline underline-offset-4 text-white font-secondary py-2 px-4">
                        Resume
                    </a>
                </div>
            </div>
        
        </div>
    
     
    </div>
    

    <!-- cards -->
    <div class="relative">

         <!-- overlay -->
     <div class="absolute inset-0 flex justify-center z-0"> <!-- Using absolute positioning to stack the overlay behind -->
        <!-- This container centers the background image -->
        <img src="../assets/RC-vector.svg" alt="Rosmelle Cuevas" class="w-max">
    </div>

    <div class="relative">
            <div class="mx-auto w-2/4 py-5 text-xl">
                    <div class="font-secondary text-white">
                        <h2>Hi and welcome! 👋</h2>
                        <br>
                        <p>
                            You can call me Rosmelle for short. Took a Bachelor's Degree in Computer Science. 
                            I have experience in Frontend Web  Development project experience as well as graphics ​design and UI/UX design 
                            throughout my ​freelance work and internship. I am focused, creative, self-motivated, 
                            fast-learner, results-driven and knowledgeable in multiple computer languages. I am seeking an opportunity 
                            to enhance and hone my design skills and opens more career choices in the IT sector, giving me more experience 
                            to work.
                        </p>
                        <br>
                        <p>As an aspiring web designer, I pride myself on blending creativity with functionality, 
                            ensuring that every webpage not only looks visually appealing but also provides a seamless user experience. 
                            Venturing into UI/UX design, I am committed to understanding user behaviors and designing interfaces that 
                            offer an effortless interaction for all users.
                        </p>
                        <br>
                        <p>Every project I undertake is an opportunity to provide an innovative solution to real-world challenges. 
                            Through my work, I aim to create digital platforms where  design  and user experience coexist harmoniously. 
                            I'm always eager to collaborate and to further hone my skills, with the aspiration of being at the forefront
                             of modern web and UI/UX design.
                        </p>
                    </div>
            </div>

        <hr class="w-48 h-1 mx-auto my-4 bg-accent3 border-0 rounded md:my-10">

        <section class="mb-20">
            <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-max sm:px-6 lg:px-8 text-xl">
                <div class="flex flex-col w-4/6 mx-auto prose text-left prose-blue">
                    <div class="w-full mx-auto text-white">
                        <h2 class="font-typography">I'd love to hear from you</h2>
                        <br>
                        <p class="font-secondary">
                            I'm active on several online platforms like <a href="https://www.linkedin.com/in/rosmelle-cuevas/" class="text-accent3 hover:underline" target="_blank">LinkedIn</a>, <a href="https://www.facebook.com/RosmelleCuevas" target="_blank" class="text-accent3">Facebook</a>, <a href="https://github.com/rosmellecaves" target="_blank" class="text-accent3 hover:underline">Github</a>, and <a href="https://dribbble.com/rosmellecaves" target="_blank" class="text-accent3 hover:underline">Dribble</a>. 
                            If you'd like a more direct conversation, feel free to email me at <a class="text-accent3 hover:underline">rosarioimelda.cuevas@gmail.com</a>
                        </p>
                       
                    </div>
                </div>
            </div>
        </section>

    </div>
    

    </div>

    </Layout>
</body>
</html>