<footer class="w-full">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto">
        <span class="text-lg text-gray-500 text-center font-secondary block">est. 2023 © Rosmelle Cuevas</span>
      </div>
    </div>
  </footer>