<div class="p-5 md:p-16 lg:p-28 bg-no-repeat bg-center bg-cover container mx-auto relative"> <!-- Adding relative positioning -->
    
    <!-- overlay -->
    <div class="absolute inset-0 flex justify-center"> <!-- Using absolute positioning to stack the overlay behind -->
        <!-- This container centers the background image -->
        <img src="/public/assets/RC-vector.svg" alt="Rosmelle Cuevas" class="w-full max-w-3xl">
    </div>

    <!-- hero -->
    <div class="flex flex-col max-w-7xl text-white relative z-10"> <!-- Adding z-index to ensure hero content is above the overlay -->
        <div class="flex flex-col text-white mt-5">
            <h1 class="text-4xl md:text-[50px] leading-tight font-semibold font-typography">Hello I'm Rosmelle Cuevas.</h1>
            <h1 class="text-4xl md:text-[50px] leading-tight font-semibold font-typography">I am deeply passionate about <br> creating intuitive & aesthetically pleasing digital experiences.</h1>
            <p class="text-2xl mt-2 md:mt-6 tracking-wide font-secondary">Designer - Developer - Freelancer</p>
        </div>
        <div class="absolute top-40 left-full transform -translate-y-1/2 mr-auto"> <!-- Adjusted margin-right (mr-auto) -->
            <div class="flex flex-col items-end"> <!-- Updated to flex-col and items-end -->
                <a href="/portfolioV2/profile" class="hover:underline underline-offset-4 text-white font-secondary py-2 px-4">
                    Profile
                </a>
                <a href="/portfolioV2/design" class="hover:underline underline-offset-4 text-white font-secondary py-2 px-4">
                    Designs
                </a>
                <a href="/portfolioV2/resume" class="hover:underline underline-offset-4 text-white font-secondary py-2 px-4">
                    Resume
                </a>
            </div>
        </div>
        <div class="flex items-center mt-10 space-x-5">
            <a href="/portfolioV2/profile" class="py-2 hover:brightness-105 font-secondary hover:underline">View full profile</a>
            <span class="ml-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
              </svg>
            </span>
        </div>
    </div>

    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
 
</div>
